<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>Lista de partidos activos</h1>
            <a href="#" class="list-group-item clearfix" *ngFor="let match of matches" (click)="onSelect(match)">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{match.team1.name}} - {{match.team2.name}}</h4>
                    <p class="list-group-item-text">{{match.stadium}}</p>
                    <p class="list-group-item-text">{{match.date}}</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6">
            <app-match-detail [match]="selectedMatch"></app-match-detail>
        </div>
    </div>
</div>