<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Lista de partidos activos</h4>
                    <p class="list-group-item-text">Aquí verás todos los partidos que se estén jugando en este momento.</p>
                </a>
                <a href="#" class="list-group-item clearfix" *ngFor="let match of matches" (click)="onSelect(match)">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">{{match.team1.name}} - {{match.team2.name}}</h4>
                        <p class="list-group-item-text">{{match.stadium}}</p>
                        <p class="list-group-item-text">{{match.date}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <app-match-detail [match]="selectedMatch"></app-match-detail>
        </div>
    </div>
</div>